/* begin of my code */
:root {
    --softBlue: hsl(215, 51%, 70%);
    --cyan: hsl(178, 100%, 50%);
    --mainBG: hsl(217, 54%, 11%);
    --cardBG: hsl(216, 50%, 16%);
    --line: hsl(215, 32%, 27%);
    --white: hsl(0, 0%, 100%);
}

body {
    font-family: 'Outfit', sans-serif;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--mainBG);
    overflow: hidden;
}

.myContainer {
    margin: 0 auto;
    background-color: var(--cardBG);
    width: 350px;
}

.innerContainer {
    width: 325px;
    margin: 0 auto;
    padding: 12px;
}

.onHover {
    width: 300px;

}

.onHover:hover .eyeView {
    opacity: .3;
    transition: .3s;
    cursor: pointer;
}

.onHover:hover .eyeBall {
    opacity: 1;
}

.previewImg {
    width: 300px;
    margin-top: 13px;
    margin-bottom: 25px;
    backface-visibility: hidden;
    margin-left: 50px;
    margin-right: -50px;
    position: relative;
    left: 125px;
}

.eyeView {
    position: relative;
    opacity: 0;
    top: 13px;
    right: 125px;
    background-color: var(--cyan);
    min-width: 300px;
    height: 300px;
}

.eyeBall {
    position: relative;
    top: 135px;
    right: 298px;
    opacity: 0;
    width: 48px;
    height: 48px;
    cursor: pointer;
}

.name {
    color: var(--white);
    font-size: 24px;
    font-weight: 600;
}

.name:hover {
    color: var(--cyan);
    cursor: pointer;
}

.desc {
    color: var(--softBlue);
    font-size: 18px;
    font-weight: 300;
}

.detailsDiv {
    margin-bottom: 15px;
}

.icon {
    width: auto;
    height: 20px;
}

.value {
    color: var(--cyan);
    font-weight: 600;
    margin-top: 8px;
    margin: 0;
}

.clockImg {
    width: auto;
    height: 20px;
}

.timeLeft {
    color: var(--softBlue);
    font-size: 18px;
    font-weight: 300;
    margin: 0;
}

hr {
    color: var(--softBlue);
    height: 1px;
    margin: 10px auto;
    padding: 3px;
}

.avatarDiv {
    margin-top: 10px;
    margin-bottom: 15px;
}

.avatar {
    width: 35px;
    border: 1px solid white;
}

.authorTxt {
    color: var(--white);
    margin: 0;
}

.authorTxt:hover {
    cursor: pointer;
    color: var(--cyan);
}

.authorTxtColor {
    color: var(--softBlue);
}


/* code that came with challenge */

.attribution { 
    font-size: 11px; 
    text-align: center; 
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}